/* RESET */

html,
body,
header,
main,
aside,
footer,
article,
section,
div,
h1,
h2,
h3,
h4,
p,
span,
input,
button,
ul,
li,
a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
}

*::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
*::-webkit-scrollbar-track {
  background: #3a3a3a;
  border-radius: 20px;
}
*::-webkit-scrollbar-thumb {
  background-color: #5454e2;
  border-radius: 20px;
}

.App_Body {
  background-color: #2e2e2e;
  height: 100vh;
  padding: 2vh 1vw;
  font-size: calc(10px + 2vmin);
  color: white;

  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    "l l l p"
    "c c c f";
}

li {
  width: 150px;
  height: 200px;
  background-color: #5454e2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.Search_Filter {
  grid-area: p;
}
.filterItens {
  grid-area: f;
}
.App_List_Itens {
  grid-area: l;
}
.App_List_Itens ul {
  display: flex;
}
.App_List_Cart_Box {
  grid-area: c;
}
.listCart {
  display: flex;
}
