/* RESET */

html,
body,
header,
main,
aside,
footer,
article,
section,
div,
h1,
h2,
h3,
h4,
p,
span,
input,
button,
ul,
li,
a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
}

*::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  margin: 0;
}
*::-webkit-scrollbar-track {
  background: #3a3a3a;
  border-radius: 20px;
  margin: 0;
}
*::-webkit-scrollbar-thumb {
  background-color: #5454e2;
  border-radius: 20px;
  margin: 0;
}

.App_Body {
  position: relative;
  background-color: #2e2e2e;
  height: 100vh;
  width: 100vw;
  font-size: calc(10px + 1.1vmin);
  color: white;

  display: flex;
  flex-direction: column;
}

li {
  width: 100px;
  height: 120px;
  margin: 0 3px 0 3px;
  background-color: #a7a7bde2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.Search_Filter {
  height: 50px;
  width: 100vw;
  /* background-color: aqua; */

  display: flex;
  align-items: center;
  justify-content: center;
}

.filterItens {
  height: 150px;
  /* background-color: green; */
  overflow: auto;
}
.filterItens ul {
  display: flex;
}

.App_List_Itens {
  overflow: auto;
}
.App_List_Itens ul {
  display: flex;
}
.App_List_Itens ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bntList {
  width: 80px;
  margin: 0 5px 0 5px;
}

.App_List_Cart_Box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  height: 40%;
  /* background-color: #62628a; */
}
.App_List_Cart {
  width: 100%;
  overflow: auto;
}
.paiListCart {
  overflow: auto;
}
.listCart {
  display: flex;
}
.bntCar {
  width: 80px;
  margin: 0 5px 0 5px;
  padding: 5px 0;
}
