/* RESET */

html,
body,
header,
main,
aside,
footer,
article,
section,
div,
h1,
h2,
h3,
h4,
p,
span,
input,
button,
ul,
li,
a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
}

*::-webkit-scrollbar {
  height: 1px;
  width: 1px;
  margin: 0;
}
*::-webkit-scrollbar-track {
  background: #c9c9c900;
  border-radius: 20px;
  margin: 0;
}
*::-webkit-scrollbar-thumb {
  background-color: #8c561d00;
  border-radius: 20px;
  margin: 0;
}
/*  #2e2e2e */
.App_Body {
  position: relative;
  background-image: linear-gradient(#221500, #6a4103, #ff9100);
  height: 100vh;
  width: 100vw;
  font-size: calc(10px + 1.1vmin);
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App_Main {
  overflow-y: auto;
  overflow-x: hidden;
  height: 95%;
  width: 90%;
  padding: 15px 5px 5px 5px;
  display: flex;
  flex-direction: column;

  box-shadow: 0 0 8px 2px #6a4103;
  border-radius: 20px;
}

.App_List_Itens {
  height: 375px;
  width: 100%;
  border-bottom: 2px solid grey;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.boxGeral {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.listUl {
  overflow-y: auto;
  height: 326px;
  width: 75%;
}

.listUl ul {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.bntList {
  padding: 3px 15px;
  border-radius: 20px;
  border: none;
  background-color: #ff9800;
}
.listUl ul li {
  height: 305px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 22px;
  border-top: 7px solid gray;
  border-bottom: 4px solid grey;
}
.App_List_Cart {
  margin-top: 10px;
  width: 100%;
  overflow-x: auto;
}
.App_List_Cart_Box {
  height: 121px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.listCart {
  display: flex;
  align-items: center;
}

.itemListCart {
  height: 70px;
  background-color: #00000066;
  min-width: 81px;
  border-top: 5px solid grey;
  border-bottom: 4px solid grey;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 5px;
}
.itemListCart button {
  border: none;
  background-color: #80808091;
  padding: 2px 25px;
  border-radius: 10px;
}

.inputStyle {
  border-radius: 20px;
  border: none;
  cursor: text;
  border-bottom: 2px solid #b17009;
  background-color: #8c8c8c6b;
  padding: 4px 25px;
}
input:focus {
  box-shadow: 0 0 0 0;
  border: none;
  border-bottom: 2px solid #b17009;
  outline: 0;
  color: #f0f8ff;
}

.space_Item :first-child {
  font-size: 20px;
  font-family: system-ui;
  font-weight: 600;
}
.space_Item :last-child {
  font-size: 20px;
  font-family: system-ui;
  font-weight: 600;
  color: #f0f8ff;
}

/* Fundo dos produtos */
.Hamburguer,
.X-Burguer,
.X-Salada,
.Big_Kenzie {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.Guaraná,
.Coca,
.Fanta {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.Hamburguer {
  background-image: url(./img/carro-chefe-da-casa-criado.jpg);
}
.X-Burguer {
  background-image: url(./img/X-Burguer.png);
}
.X-Salada {
  background-image: url(./img/x-salada.jpg);
}
.Big_Kenzie {
  background-image: url(./img/X-Tudo.jpeg);
}
.Guaraná {
  background-image: url(./img/Guarana.png);
}
.Coca {
  background-image: url(./img/Coca-cola.png);
}
.Fanta {
  background-image: url(./img/Fanta-lata.png);
}

/* media query */

@media (min-width: 600px) {
  /*****
    Posicionar a lista do carrinho na vertical no lado direito
    Diminuir a box dos item central e de pesquisa
  ******/
  *::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }
  *::-webkit-scrollbar-track {
    background: #c9c9c900;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #130c05e7;
  }

  .App_List_Cart_Box {
    height: 175px;
  }

  .App_List_Itens {
    height: 465px;
  }
  .itemListCart {
    height: 112px;
    min-width: 105px;
    margin-bottom: 3px;
  }
  .listUl ul {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .listUl ul li {
    min-width: 257px;
    margin: 0 10px;
    background-color: #f0f8ff24;
  }
  .bntList {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
}
